@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}


/* logo */

nav{
    margin-top: 40px;
}
.logo{
    height: 30px;
    float: left;
}

.cta-top{
    border-radius: 40px;
    float: right;
    background-color: white;
    color: hsl(208, 11%, 55%);
    border: 2, solid, black;
    padding: 10px;
    width: 150px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;
}
  
.grow-together-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 150px;
    margin-right: 100px;
}

.flowing-conversations{
    margin-bottom: 150px;
    margin-left: 100px;
}
  
.right-element {
    align-self: flex-end;
}

.mockup{
    height: 500px;
}

.hero-button{
    background-color: hsl(322, 100%, 66%);
    padding: 15px;
    width: 300px;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 18px;
}

.hero-headline{
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 700;
}

#illustration{
    height: 400px;
}

.feature{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 50px;
}
  