@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    height: 100vh;
}


/* logo */

nav{
    padding-top: 40px;
    padding-bottom: 60px;
}

.logo{
    height: 30px;
    float: left;
}

.cta-top{
    border-radius: 40px;
    border: none;
    float: right;
    background-color: white;
    color: hsl(208, 11%, 55%);
    padding: 10px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
}

.hero-box{
    background-color: hsl(193, 100%, 96%);
    background-image: url(images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto;
    padding-bottom: 100px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    /* margin-top: 50px; */
}

.left-elements{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 150px;
    padding-right: 100px;
}
  
.grow-together-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 150px;
    padding-right: 100px;
    padding-left: 50px;
}

.flowing-conversations{
    margin-bottom: 150px;
    margin-left: 100px;
    padding-right: 50px;
}
  
.right-element {
    align-self: flex-end;
}

.mockup{
    height: 500px;
}

.hero-button{
    background-color: hsl(322, 100%, 66%);
    padding: 15px;
    width: 300px;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 18px;
}

.hero-headline{
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 700;
}

#illustration{
    height: 400px;
    margin: 10px;
}

.feature{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 50px;
    margin-top: 50px;
}

footer{
    background-color: hsl(192, 100%, 9%);
    color: white;
    margin-bottom: 0px;
    margin-top: 200px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.location{
    padding-right: 20px;
}

.icon-container {
    display: flex;
    align-items: flex-start;
}

.icon {
margin-right: 10px; /* add some space between icon and text */
padding-top: 10;
}

.text {
flex: 1; /* allow text to wrap */
}

.logo-box{
    margin-bottom: 30px;
}

.social{
    display: flex;
}

.social-icon{
    padding: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px;
}
  
  